body {
    background-color:#419BEE;
}

#loginFormContainer {
    background-color: #F5F7FA; 
    border-radius: 20px;
    padding: 10px;
    width: 300px;
    height: 300px;
    text-align: center;            
    margin: 0 auto;
}

#wrongPassword {
    color: red;    
    margin-top: 30px;
}

.btn-default {
    display: inline;
    margin-top: 10px;
}
.btn-default:focus {
    display: inline;
}

h4 {
    color: #419BEE;
    font-size: 1.5em;
}

html, body {
    height: 100%;
}
  
.content {
  display: table;
  height: 100%;
  width: 100%;
}
 
.table-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
    }

.mybox {
  height: 200px;
  width: 200px;
  background: green;
  margin: 0 auto;
}  

  