/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}



/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #333;
  background-color: transparent;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/*toggle  sub-menu*/

.toggle-menu {
   list-style:none;
   position:relative;
   width:275px;
   margin-left:20px;
   border-top:1px solid #428bca;
   
}

#toggle-menu,
#toggle-menu ul,
#toggle-menu ul li,
#toggle-menu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#toggle-menu {
  width: 200px;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
}
#toggle-menu ul ul {
  display: none;
}
.align-right {
  float: right;
}
#toggle-menu > ul > li > a {
  padding: 15px 20px;
  border-left: 1px solid #1682ba;
  border-right: 1px solid #1682ba;
  border-top: 1px solid #1682ba;
  cursor: pointer;
  z-index: 2;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
  background: #36aae7;
  background: -webkit-linear-gradient(#36aae7, #1fa0e4);
  background: -moz-linear-gradient(#36aae7, #1fa0e4);
  background: -o-linear-gradient(#36aae7, #1fa0e4);
  background: -ms-linear-gradient(#36aae7, #1fa0e4);
  background: linear-gradient(#36aae7, #1fa0e4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
}
#toggle-menu > ul > li > a:hover,
#toggle-menu > ul > li.active > a,
#toggle-menu > ul > li.open > a {
  color: #eeeeee;
  background: #1fa0e4;
  background: -webkit-linear-gradient(#1fa0e4, #1992d1);
  background: -moz-linear-gradient(#1fa0e4, #1992d1);
  background: -o-linear-gradient(#1fa0e4, #1992d1);
  background: -ms-linear-gradient(#1fa0e4, #1992d1);
  background: linear-gradient(#1fa0e4, #1992d1);
}
#toggle-menu > ul > li.open > a {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid #1682ba;
}
#toggle-menu > ul > li:last-child > a,
#toggle-menu > ul > li.last > a {
  border-bottom: 1px solid #1682ba;
}
.holder {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.holder::after,
.holder::before {
  display: block;
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  right: 20px;
  z-index: 10;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.holder::after {
  top: 17px;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}
#toggle-menu > ul > li > a:hover > span::after,
#toggle-menu > ul > li.active > a > span::after,
#toggle-menu > ul > li.open > a > span::after {
  border-color: #eeeeee;
}
.holder::before {
  top: 18px;
  border-top: 2px solid;
  border-left: 2px solid;
  border-top-color: inherit;
  border-left-color: inherit;
}
#toggle-menu ul ul li a {
  cursor: pointer;
  border-bottom: 1px solid #32373e;
  border-left: 1px solid #32373e;
  border-right: 1px solid #32373e;
  padding: 10px 20px;
  z-index: 1;
  text-decoration: none;
  font-size: 13px;
  color: #eeeeee;
  background: #49505a;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
#toggle-menu ul ul li:hover > a,
#toggle-menu ul ul li.open > a,
#toggle-menu ul ul li.active > a {
  background: #424852;
  color: #ffffff;
}
#toggle-menu ul ul li:first-child > a {
  box-shadow: none;
}
#toggle-menu ul ul ul li:first-child > a {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
#toggle-menu ul ul ul li a {
  padding-left: 30px;
}
#toggle-menu > ul > li > ul > li:last-child > a,
#toggle-menu > ul > li > ul > li.last > a {
  border-bottom: 0;
}
#toggle-menu > ul > li > ul > li.open:last-child > a,
#toggle-menu > ul > li > ul > li.last.open > a {
  border-bottom: 1px solid #32373e;
}
#toggle-menu > ul > li > ul > li.open:last-child > ul > li:last-child > a {
  border-bottom: 0;
}
#toggle-menu ul ul li.has-sub > a::after {
  display: block;
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  right: 20px;
  z-index: 10;
  top: 11.5px;
  border-top: 2px solid #eeeeee;
  border-left: 2px solid #eeeeee;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
#toggle-menu ul ul li.active > a::after,
#toggle-menu ul ul li.open > a::after,
#toggle-menu ul ul li > a:hover::after {
  border-color: #ffffff;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/*
    Dialog
    */
.ui-dialog {
    z-index: 10 !important;
}

#dialog {
    display: none;
}

/*
    Buttons
    */
.btn-default, .btn-default:focus {
    display: block;
    border: 1px solid transparent;
    color: #fff;
    background-color: #5fabf1;
}

.btn-default:hover {
    background: transparent;
    border: 1px solid #5fabf1;
    color: #5fabf1;
}

#btnPopup {
    display: inline-block;
}
/*
    Tables
    */
table {
    color: #000;
}
tr, td, th {
    border: 1px solid #ccc !important;
}

tr:nth-child(2n+1) {background: #DDDDDD;}

.content-wrapper {
    background-color: white;
    width: 95%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 3px 16px 0px #666666;
}

h2.entity {
    text-align:center;
}

input {
    margin-bottom:20px;
    width: 100%;
}

.table tr td a.delete {
    width: 35px;
    height: 35px;
    vertical-align:middle;
    text-align:center;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    display:block;  
    position:relative;     
}

.table tr td a.delete i {
    position:absolute;
    top:50%;
    margin-top:-7px;
    left:50%;
}

.table tr td a.delete:hover {
    color: #f04124 ;
}


