input {
    margin-bottom:20px;
    width: 100%;
}

.ui-corner-all {
    border-radius: 0;
}

.ui-widget-header,.ui-state-default, ui-button{
            background:#5EABF1;
            color: #FFFFFF;
            font-weight: bold;
}

.ui-widget {
    padding:0;
    border:0;
    margin:50px;
}

.ui-widget {
    padding: 0;
    margin: 0;
    border: 1px solid #687796;
}

#cautaProprietar, #cautaContract{
    background:#687796;
    padding: 0;
    margin: 0;
    border: 0;
    width:100%;
}
