@font-face {
    font-family: "Flaticon";
    src: url("flaticon.eot");
    src: url("flaticon.eot#iefix") format("embedded-opentype"),
    url("flaticon.woff") format("woff"),
    url("flaticon.ttf") format("truetype"),
    url("flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: inherit;
    font-style: normal;
    display: inline-block;
}
.flaticon-arrow241:before {
    content: "\e000";
}
.flaticon-arrowhead2:before {
    content: "\e001";
}
.flaticon-caret2:before {
    content: "\e002";
}
.flaticon-chevron15:before {
    content: "\e003";
}
.flaticon-close19:before {
    content: "\e004";
}
.flaticon-cross92:before {
    content: "\e005";
}
.flaticon-done:before {
    content: "\e006";
}
.flaticon-email26:before {
    content: "\e007";
}
.flaticon-facebook23:before {
    content: "\e008";
}
.flaticon-google116:before {
    content: "\e009";
}
.flaticon-list3:before {
    content: "\e00a";
}
.flaticon-location51:before {
    content: "\e00b";
}
.flaticon-pinterest4:before {
    content: "\e00c";
}
.flaticon-twitter13:before {
    content: "\e00d";
}
.flaticon-zoom19:before {
    content: "\e00e";
}
